%html
  %head
    %meta{ name: "viewport", content: "width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0"}
    %script{ src: "javascripts/lib/react-with-addons.js" }
    %script{ src: "javascripts/lib/JSXTransformer.js" }
    %link{rel: "stylesheet", type: "text/css", href: "styles/main.css"}

  %style
    body, html {
      padding:20px;
      text-align:center;
    }
  %body
    %h1 EZ Flux




    %script{ src: "javascripts/app.js" }
